form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  border: 1.5px solid rgb(212, 0, 255);
  padding: 10px 15px;
  margin-top: 15px;
}

.btn {
  align-self: flex-end;
  margin-top: 15px;
  padding: 15px;
  background: rgb(212, 0, 255);
  color: white;
  border: 1.5px solid rgb(212, 0, 255);
}
